body {
  font-family: arial, sans-serif;
}
form {
  padding: 10px;
}

h1 {
  color: #7c7c7c;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}
ul {
  list-style: none;
}
p {
  text-align: center;
}

.weatherApp {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}
#search-button {
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 5px;
  padding: 2px 15px;
}
#current-button {
  color: #fff;
  background: #218838;
  border: none;
  border-radius: 5px;
  padding: 2px 15px;
}
#city {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: 1px 1px #f0f0f0;
}

#daily-info {
  color: #7c7c7c;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
  font-size: 20px;
}

#temperature {
  font-size: 70px;
}

.unit {
  position: relative;
  top: -40px;
}

.weather-details {
  color: #7c7c7c;
  font-size: 20px;
  font-weight: 80px;

  line-height: 30px;
}

.active {
  color: black;
  text-decoration: none;
}
.daily-forecast {
  text-align: center;
}
.forecast-min {
  opacity: 0.5;
}
.forecast-day {
  font-weight: 400;
}
